.heading {
  font-size: 2rem;
}
.heading--big {
  font-size: 4.5rem;
}
.paragraph {
  color: red;
}
body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 1rem;
  background-color: #eee;
}
