.heading {
  font-size: 2rem;
}

.headingOnClick {
  font-size: 2.5rem;
  font-family: "Lexend", sans-serif;
  color: rgba(17, 123, 112, 1)
}

.paragraph {
  color: red;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 1rem;
  background-color: #eee;
}